name: Python-Powered Automation

on: [push]

jobs:
  check-math:
    runs-on: ubuntu-latest

    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Tools
        run: pip install -r requirements.txt

      # Step 4: Run the script
      - name: Run Python Manager
        run: python automate.py
